.tree {
  padding: 6px;
  flex-basis: 60%;
  /* border-right: 2px solid #0f0f0f; */
  overflow-y: scroll;
}
.graph {
  padding: 6px;

  flex-basis: 40%;
}
.header {
  padding: 6px;
  padding-left: 8px;

  /* position: fixed; */
  /* border-bottom: 2px solid #0f0f0f; */
}
.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
}
.content {
  overflow-y: hidden;
  /* margin-top: 40px; */
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}
